<md-sidenav-container>

  <md-sidenav #sidenav mode="side">
    Sidenav
  </md-sidenav>

  <md-toolbar color="primary">

    <button md-button (click)="sidenav.toggle()">
      <md-icon>menu</md-icon>
    </button>

    {{title}}

    <span class="menu-spacer"></span>

    <button md-button [mdMenuTriggerFor]="appMenu">
      <md-icon>more_vert</md-icon>
    </button>

  </md-toolbar>

  <md-menu #appMenu="mdMenu">
    <button md-menu-item> Settings </button>
    <button md-menu-item> Help </button>
  </md-menu>

  <div class="app-content">

    <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoomLevel">
      <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
    </agm-map>

    <md-grid-list cols="3" rowHeight="100px">
      <md-grid-tile *ngFor="let item of data">
        <md-card>
          {{item.line1}}<br>
          {{item.line2}}
        </md-card>
      </md-grid-tile>
    </md-grid-list>

    <md-card>
      <md-list>
        <md-list-item *ngFor="let item of data">
          {{item.line1}}<br>
          {{item.line2}}
        </md-list-item>
      </md-list>
    </md-card>

  </div>

</md-sidenav-container>

