<md-sidenav-container>

  <md-sidenav #sidenav mode="side">
    Sidenav
  </md-sidenav>

  <md-toolbar color="primary">{{title}}</md-toolbar>

  <div class="app-content">

    <md-card>
      <md-card-content>
        <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoomLevel">
          <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
        </agm-map>
      </md-card-content>
    </md-card>

    <!--<md-list>-->

      <!--<md-list-item>-->
        <md-card>
          <md-card-title>Card 1</md-card-title>
            Data line 1
            <br>Data line 2
        </md-card>
      <!--</md-list-item>-->

      <!--<md-list-item>-->
        <md-card>
          <md-card-title>Card 2</md-card-title>
          <md-card-content>
            Data line 1
            <br>Data line 2
          </md-card-content>
        </md-card>
      <!--</md-list-item>-->

      <!--<md-list-item>-->
        <md-card>
          <md-card-title>Card 3</md-card-title>
          <md-card-content>
            Data line 1
            <br>Data line 2
          </md-card-content>
        </md-card>
      <!--</md-list-item>-->
    <!--</md-list>-->

  </div>

</md-sidenav-container>

